*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

ul, 
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.btn-medium {
    width: 137px;
    height: 50px;
    border-radius: 26px;
    background-color: #FFB900;
    border: none;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    line-height: 2.8rem;
    cursor: pointer;
}

.btn-medium:hover {
    box-shadow: 5px 5px 10px -5px #FFB900,
                -5px -5px 10px -5px #FFB900,
                -5px 5px 10px -5px #FFB900,
                5px -5px 10px -5px #FFB900;
   
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.6rem 13.5rem 0rem ;
    background-color: #fffcf4;
}

.logo {
    width: 85px;
    height: 34px;
    width: 45%;
}

.logo img {
    width: 8.5rem;
    height: 100%;
}

nav {
    margin-right: 7rem;
}
ul> li {
    padding: 12px 0px;
    display: inline-flex;
    width: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    gap: 42px;
    color: #5F5B53;
    position: relative;
}
li:first-child {
    color: #171100;
    font-weight: 600;
    cursor: pointer;
}
li:active,
li:hover {
    color: #171100;
    font-weight: 600;
    cursor: pointer;
    
}

header button {
    width: 144px;
    height: 49px;
    border-radius: 25px;
    background-color: #171100;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    
}
header button:hover {
    box-shadow: 5px 5px 10px -5px #171100,
                -5px -5px 10px -5px #171100,
                -5px 5px 10px -5px #171100,
                5px -5px 10px -5px #171100;
}

/* Main */
main {
    width: 100%;
    margin: 0 auto;
}

/* Content */
.content {
    display: flex;
    justify-content: space-between;
    padding: 0px 135px;
    align-items: center;
    height: 900px;
    background-color: #fffcf4;
}

.picture-container {
    position: relative;
    width: 470px;
    height: 685px;
    margin-right: 230px;
}

.picture-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 470px;
    height: auto;
}

.main-content h2 {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 68px;
    margin-bottom: 22px;
    color: #171100;
    letter-spacing: -0.02em;
}

.main-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #5F5B53;
    margin-bottom: 38px;
}

.action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 48px;
}

.see-course {
    width: 180px;
    height: 64px;
    border-radius: 32px;
    background-color: #FFB900;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    margin-right: 28px;
}

.see-course:hover {
    box-shadow: 5px 5px 10px -5px #FFB900,
                -5px -5px 10px -5px #FFB900,
                -5px 5px 10px -5px #FFB900,
                5px -5px 10px -5px #FFB900;
};

.btn-play {
    width: 40px;
    height: 40px;
}
.btn-play img {
    width: 100%;
    margin-top: 16px;
}
.watch-video {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
}
.watch-video:hover {
    color: #1711008f;
}
.main-content span {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color:  #5F5B53;
    margin-bottom: 8px;
}
.subscribe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 28px;
}
.info strong {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #171100;
    margin-right: 12px;
}
.info span {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
}

.course-content {
    position: absolute;
    top:393px;
    left: 300px;
    background-color: #fff;
    padding: 24px 63px 24px 24px;
    border-radius: 12px;
}
.course-item {
    display: flex;
    column-gap: 4px;
    margin-bottom: 18px;
}
.course-item img {
    width: 48px;
    height: 48px;
    margin-right: 4px;
}
.course-item span {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color:#5F5B53;
}
.course-item strong {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
}

/* Course item */
.courses {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    padding: 0rem 13.5rem;
    margin-bottom: 200px;
}
.title-course,
.name-course,
.register-course {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-course {
    margin-bottom: 5.5rem;
}

.title h2 {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.02em;
    margin-bottom: 1.6rem;
}

.title p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #5F5B53;
    width: 45.8rem;
    height: auto;
}
/* Controller */
.controller {
    display: flex;
    gap:18px;
}

.controller button {
    display: inline-flex;
    align-items: center ;
    justify-content: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #FFB900;
    cursor: pointer;
    font-size: 20px;
    color: #FFB900;
}

.controller button:nth-child(2) {
    background-color: #FFB900;
    color: #fff;
}
.course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.course-card {
    width: 37rem;
    height: 48.6rem;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E2DFDA
}

.course-card img {
    width: 100%;
    height: 278px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.course-info {
    padding: 1.6rem 2.2rem 2.2rem 2.2rem;
}

.name-course {
    margin-bottom: 6px;
}

.name-course h3 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #171100;
}

.name-course span {
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 400;
    color: #FEA31B;
    line-height: 2.8rem;
}

.name-course i {
    color:#FEA31B;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.5rem;
}

.course-info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 2.6rem;
    color: #5F5B53;
    margin-bottom: 22px;
}

.register-course span {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
}

.register-course button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 50px;
    border-radius: 25px;
    background-color: #171100;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    border: none;
    cursor: pointer;
}

#first-btn {
    background-color: #FFB900;
}

.register-course button:hover {
    box-shadow: 5px 5px 10px -5px #171100,
    -5px -5px 10px -5px #171100,
    -5px 5px 10px -5px #171100,
    5px -5px 10px -5px #171100;
}

#first-btn:hover {
    box-shadow: 5px 5px 10px -5px #FFB900,
    -5px -5px 10px -5px #FFB900,
    -5px 5px 10px -5px #FFB900,
    5px -5px 10px -5px #FFB900;
}

/* testimonial */

.testimonial-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 380px;
    background-color: #2E2100;
    padding: 9.6rem 13.5rem;
    margin-bottom: 20rem;
}

.profile-section img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    margin-bottom: 1.8rem;
}

.student-name {
    font-style: normal;
    color: #F7F7F7;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
    margin-bottom: 0.4rem;
}

.profile-section span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #BFBCB2;
}

.pagination-dots {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    margin-top: 2.8rem;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #634700 ;
    border-radius: 50%;
}

.dot:nth-child(2) {
    background-color: #FFB900;
}

.quote-section {
    width: 77rem;
    height: 18.8rem;
    position: relative;
}

.quote-section img {
    width: 30px;
    height: 28px;
    color: #634700;
    position: absolute;
}

.quote-text {
    font-weight: 400;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 4.4rem;
    color: #fff;
    padding-top: 2.8rem;
    padding-left: 3rem;
}
/* cta */

.cta {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    padding: 0 13.5rem ;
    margin-bottom: 20rem;
    gap:200px
}

.cta-1,
.cta-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-cta {
    display: flex;
    gap: 30px;
}
.img-cta img {
    width: 270px;
    height: 404px;
}

.img-cta img:first-child {
    margin-top: 34px;
}

.info-cta {
    display: flex;
    flex-direction: column;
    width: 47rem;
    height: 32.2rem;
    row-gap: 16px;;
}

.info-cta h2 {
    font-family: 'Sem', sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.02em;
    color: #171100;
}

.info-cta p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #5F5B53;
}

.info-cta span {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: #5F5B53;
    margin-bottom: 16px;
}

.cta-2 {
    flex-direction: row-reverse;
}

.cta-2 .info-cta {
    width: 57rem;
    height: auto;
}

.cta-2 .info-cta p {
    margin-bottom: 16px;
}

.img-cta-2 {
    width: 47rem;
    height: 44rem;
    border-radius: 20px;
}